.slogan {
    height: 50vh;
    width: 100%;
    /* border: 2px solid black; */

    display: flex;
    flex-direction: column;

    position: relative;
    top: 0;
    left: 0;
}

.back-box {
    /* border: 2px solid red; */
    background-color: var(--primary);
    height: 50%;
    width: 100%;

    position: absolute;
    top: 25%;
}

.img-box {
    border: 1px solid rgba(0, 0, 0, 0.546);
    border-radius: 25px;
    height: 100%;
    width: 50%;

    position: absolute;
    bottom: 0%;
    left: 25%;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.632);
}


@media screen and (max-width: 550px) {
    .slogan {
        height: 30vh;
    }

    .back-box {
        height: 45%;
        top: 29%;
    }

    .img-box {
        width: 75%;
        left: 12.5%;
    }
}


@media (min-width: 1000px){
    .img-box {
        height: 89%;
        width: 42%;
        bottom: 6%;
        left: 28.5%;
    }    

    .back-box {
        height: 50%;
        width: 100%;
        top: 25%;
    }

}