@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800;900&display=swap");

footer {
    margin-top: 0px;
    height: 5rem;
    width: 100%;
    background-color: #000;
    color: var(--primary);

    position: relative;
    left: 0;
    bottom: 0;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  footer p {
    font-family: "Poppins", sans-serif;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1px;
  }

  footer p a {
    color: #F24C4C;
  }


@media screen and (max-width: 550px) {
  footer p {
    font-size: 7px;
    font-weight: 500;
  }
}